population_vcf:       "/hps/nobackup/iqbal/mbhall/tech_wars/data/H37Rv_PRG/vcfs/filtered/sparse.filtered.vcf.gz"
padding:              100  # number of bases to add to the end and start of each gene/PRG
match_len:            7  # minimum match length parameter to use in make_prg
illumina_samplesheet: "config/illumina.samplesheet.csv"
nanopore_samplesheet: "config/nanopore.samplesheet.csv"
h2h_samplesheet:      "config/h2h.samplesheet.csv"
h2h_phenotypes:       "config/h2h.phenotypes.csv"
tbdb_url:             "https://github.com/jodyphelan/tbdb/archive/feb5e89141a01ff03bbe0439284cc2490b1fe425.zip"
min_cov:              3
QC_dir:               "/hps/nobackup/iqbal/mbhall/tech_wars/data/QC"
who_panel_url:        "https://raw.githubusercontent.com/mbhall88/WHO-correspondence/2022.06.22/docs/who-panel.tsv"
panel:
  url: "https://figshare.com/ndownloader/files/35965220"
  md5: "4f276071d45bb3ade8d3af1b073ba8df"
pandora:
  ks:
    - 15  # current default
    - 17
    - 19
    - 21  # value used for short reads by minimap2
    - 25
    - 31  # best illumina value found in Rachel's thesis
  ws:
    - 10  # default (nanopore) in minimap2
    - 11  # short read default in minimap2
    - 13
    - 14  # pandora default
    - 15
    - 19  # best illumina found in Rachel's thesis

# selected from https://github.com/mbhall88/drprg/issues/6
W:                    14
K:                    15

# filtering used on the pandora VCF in drprg
filters:
  min_covg:        3
  min_strand_bias: 0.01
  min_frs:         0.7
  max_indel:       20
  min_gt_conf:
    nanopore: 5
    illumina: 5

# genes for which any frameshift causes resistance
frameshift-genes:
  katG: "Isoniazid"
  pncA: "Pyrazinamide"
  ethA: "Ethionamide"
  gid:  "Streptomycin"

containers:
  base:      "docker://bash:5.1"
  python:    "docker://python:3.10.4-slim-bullseye"
  mafft:     "docker://quay.io/biocontainers/mafft:7.475--h516909a_0"
  drprg:     "docker://quay.io/mbhall88/drprg:3dbb8ab"
  samtools:  "docker://quay.io/biocontainers/samtools:1.15.1--h1170115_0"
  bcftools:  "docker://quay.io/biocontainers/bcftools:1.15.1--h0ea216a_0"
  fastq_dl:  "docker://quay.io/biocontainers/fastq-dl:1.1.1--hdfd78af_0"
  clockwork: "docker://quay.io/mbhall88/clockwork:fe62f00"
  bwa:       "docker://quay.io/biocontainers/bwa:0.7.17--h7132678_9"
  minimap2:  "docker://quay.io/biocontainers/minimap2:2.24--h7132678_1"
  seqkit:    "docker://quay.io/biocontainers/seqkit:2.2.0--h9ee0642_0"
  mykrobe:   "docker://quay.io/biocontainers/mykrobe:0.12.1--py38hf97919f_1"
